<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dc939b">  <td>20/09/22 10:04:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sogetiTestcases2.firstTestcase()[pri:0, instance:automationFramework.sogetiTestcases2@27a8c74e]">firstTestcase</td> 
  <td>main@352359770</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>20/09/22 10:04:58</td>   <td>3200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sogetiTestcases2.secondTestcase()[pri:0, instance:automationFramework.sogetiTestcases2@27a8c74e]">secondTestcase</td> 
  <td>main@352359770</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>20/09/22 10:04:47</td>   <td>-8336</td> <td>&nbsp;</td><td title="&gt;&gt;sogetiTestcases2.single_run()[pri:0, instance:automationFramework.sogetiTestcases2@27a8c74e]">&gt;&gt;single_run</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@352359770</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>20/09/22 10:05:25</td>   <td>30282</td> <td>&nbsp;</td><td title="&lt;&lt;sogetiTestcases2.teardown()[pri:0, instance:automationFramework.sogetiTestcases2@27a8c74e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@352359770</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>20/09/22 10:05:11</td>   <td>15954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="sogetiTestcases2.thirdTestcase()[pri:0, instance:automationFramework.sogetiTestcases2@27a8c74e]">thirdTestcase</td> 
  <td>main@352359770</td>   <td></td> </tr>
</table>
